body{
  padding-bottom: 50px;
  background-color: #D9D9D9!important;
  font-family: 'Inder', serif;
  font-size: 48px;
}

.main-container{
  margin-top: 20px;
}

.img-logo{
    width: 120px;
}




/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.characterCard {
  border: 1px solid #000000;
  background-color: #E8FCDE;
  margin: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.imageCharacterCard {
  padding: 5px;
}

.bodyCharacterCard{
  margin-top: 50px;
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.rickHeader{
  color: #fcb7b7;
  background-color: #5a5a5a;
  margin: auto;
  padding: 20px;
  font-family: Inder;
  font-style: normal;
  font-size: 50px;
}

.navbar{
  background-color: #F67C7D !important;
  height: 60px;
}

.charInput{
  width: 90%;
  height: 40px;
  background-color: #D9D9D9;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.charButton{
  font-size: 20px;
  height: 40px;
  background-color: #d9d9d9;
}

